


<main class="mx-auto w-10/12 p-4 ">


  <section id="card" class="  grid grid-cols-3 grid-flow-col gap-6 mx-auto">

    <div class="bg-gradient-to-r from-lime-300 to-bg-neutral-200  rounded-xl shadow-2xl border border-lime-200 ">
      <div class="p-5">
        <div class="flex justify-between ">

          <svg class="h-7 w-7 text-blue-400" xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 24 24"><line x1="2" y1="1" x2="2" y2="23" fill="none" stroke="#000" stroke-miterlimit="10"/>
            <rect x="6" y="14" width="16" height="6" fill="none" stroke="#000" stroke-miterlimit="10"/>
            <rect x="6" y="4" width="10" height="6" fill="none" stroke="#000" stroke-miterlimit="10"/>
          </svg>
          <div
            class="bg-green-500  rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-sm">
            <span class="flex items-center">30%</span>
          </div>
        </div>



            <div class="mt-1 font-medium text-white">Task Completes</div>


      </div>
    </div>

    <div class="bg-gradient-to-r from-emerald-300 to-bg-neutral-200  rounded-xl shadow-2xl border border-emerald-200">
      <div class="p-5">
        <div class="flex justify-between text-white">

          <svg class="h-7 w-7 text-blue-400" xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 24 24"><line x1="2" y1="1" x2="2" y2="23" fill="none" stroke="#000" stroke-miterlimit="10"/>
            <rect x="6" y="14" width="16" height="6" fill="none" stroke="#000" stroke-miterlimit="10"/>
            <rect x="6" y="4" width="10" height="6" fill="none" stroke="#000" stroke-miterlimit="10"/>
          </svg>
          <div
            class="bg-green-500 rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-sm">
            <span class="flex items-center">30%</span>
          </div>
        </div>



        <div class="mt-1 font-medium text-white">Task Completes</div>


      </div>
    </div>

    <div class="bg-gradient-to-r from-purple-300 to-bg-neutral-200  rounded-xl shadow-2xl border border-purple-200">

      <div class="p-5">
        <div class="flex justify-between text-white">

          <svg class="h-7 w-7 text-blue-400" xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 24 24"><line x1="2" y1="1" x2="2" y2="23" fill="none" stroke="#000" stroke-miterlimit="10"/>
            <rect x="6" y="14" width="16" height="6" fill="none" stroke="#000" stroke-miterlimit="10"/>
            <rect x="6" y="4" width="10" height="6" fill="none" stroke="#000" stroke-miterlimit="10"/>
          </svg>
          <div
            class="bg-green-500 rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-sm">
            <span class="flex items-center">30%</span>
          </div>
        </div>



        <div class="mt-1  font-medium text-white">Task Completes</div>


      </div>

    </div>
  </section>



</main>
